body:not(.is-github-wide-disabled) .application-main .container-lg,
body:not(.is-github-wide-disabled) .footer.container-lg {
  margin-left: 0 !important;
  max-width: none !important;
}

body:not(.is-github-wide-disabled) .application-main .container-lg {
  margin-left: 0 !important;
  max-width: none !important;
}

body:not(.is-github-wide-disabled) .application-main .container-xl {
  max-width: none !important;
}

body:not(.is-github-wide-disabled) .application-main .container-xl,
body:not(.is-github-wide-disabled) .gist-content-wrapper .container-lg {
  max-width: none !important;
}

body:not(.is-github-wide-disabled) .gist-content-wrapper .container-lg .h-card {
  width: 250px !important;
}

body:not(.is-github-wide-disabled) #js-repo-pjax-container .js-issue-row .text-right {
  max-width: 300px !important;
}

body:not(.is-github-wide-disabled) .repository-content .capped-card-content,
body:not(.is-github-wide-disabled) #js-repo-pjax-container .repository-content .discussion-timeline {
  width: 100% !important;
}

body:not(.is-github-wide-disabled) #js-repo-pjax-container div[style="--sticky-pane-height:100vh"],
body:not(.is-github-wide-disabled) #js-repo-pjax-container div[style="--sticky-pane-height: 100vh;"] > div[class^='Box-sc-']:first-child {
  max-width: none;
}

body:not(.is-github-wide-disabled) .Layout-main div[data-selector="repos-split-pane-content"] {
  max-width: none !important;
}

body:not(.is-github-wide-disabled) .Layout-main div[style="--sticky-pane-height: 100vh;"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-']:nth-child(2),
body:not(.is-github-wide-disabled) .Layout-main div[style="--sticky-pane-height:100vh"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-']:nth-child(2) {
  max-width: none;
}

/* Issue list */
body:not(.is-github-wide-disabled) main div[data-target="react-app.reactRoot"] div[style="--sticky-pane-height: 100vh;"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-']:nth-child(2) > div[class^='Box-sc-'] {
  max-width: none !important;
}

body:not(.is-github-wide-disabled) main div[class*="prc-PageLayout-Content--"] > div[class^="Box-sc-"] {
	max-width: none;
}

/* Issue detail */
body:not(.is-github-wide-disabled) main div[data-target="react-app.reactRoot"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] {
  max-width: none;
}

/* Issue scrolled header */
body:not(.is-github-wide-disabled) main div[data-target="react-app.reactRoot"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div.js-notification-shelf-offset-top > div[class^='Box-sc-'] {
  max-width: none;
}

body:not(.is-github-wide-disabled) .pr-toolbar {
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

body:not(.is-github-wide-disabled) .react-repos-overview-margin {
  margin-right: 0 !important;
}

body:not(.is-github-wide-disabled) .repository-content .inline-comments .comment-holder,
body:not(.is-github-wide-disabled) .repository-content .inline-comments .inline-comment-form-container,
body:not(.is-github-wide-disabled) .repository-content #all_commit_comments .commit-comments-heading,
body:not(.is-github-wide-disabled) .repository-content #all_commit_comments .comment-holder {
  max-width: inherit !important;
}

body:not(.is-github-wide-disabled) .repository-content .timeline-new-comment {
  max-width: 100% !important;
}
