#js-repo-pjax-container .repository-content .discussion-timeline,
.repository-content .capped-card-content {
  width: 100% !important;
}

.application-main .container {
  margin-left: 0 !important;
  min-width: 980px;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: auto !important;
}

.application-main .container-lg,
.footer.container-lg {
  margin-left:0!important;
  max-width:none!important;
}

.application-main .container-xl,
.gist-content-wrapper .container-lg {
  max-width:none!important;
}

.gist-content-wrapper .container {
  margin-left: 20px !important;
  margin-right: 20px !important;
  min-width: 980px;
  width: auto !important;
}

.gist-content-wrapper .container-lg .h-card {
  width: 252px !important;
}

.pr-toolbar {
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.repository-content .inline-comments .comment-holder,
.repository-content .inline-comments .inline-comment-form-container,
.repository-content .inline-comments .inline-comment-form,
.repository-content #all_commit_comments .commit-comments-heading,
.repository-content #all_commit_comments .comment-holder {
  max-width: inherit !important;
}

.repository-content .timeline-new-comment {
  max-width: 100% !important;
}
